
{% if environment == 'production' %}
  {% load staticfiles %}
{% else %}
  {% load render_bundle from webpack_loader %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="JoshGrid - An API for sending mails.">
    <meta name="author" content="Bolaji Olajide">
    <title> JoshGrid </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% render_bundle 'main' 'css' %}
    {% if environment == 'production' %}
      <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vendor.css' %}" />
      <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/app.css' %}" />
    {% endif %}
  </head>
  <body>
    <div id="app"></div>
    {% render_bundle 'main' 'js' %}
  </body>
</html>
