.env
*.db
*.pyc
__pycache_/
.DS_Store
*.sqlite3
joshgrid/mail_api/static/
.vscode
.idea
assets/
**/*.db
*.db
.coverage
dist/
npm-debug.log
celerybeat.pid
dump.rdb
yarn-error.log
node_modules/
bower_components/
client/bundles/
webpack-stats.json
client/css/animate.css/
client/css/bulma/
venv/
static/
