amqp==2.2.2
appnope==0.1.0
billiard==3.5.0.3
celery==4.1.0
cloudinary==1.8.0
coverage==4.4.1
coveralls==1.2.0
decorator==4.1.2
dj-database-url==0.4.2
Django==1.11.5
django-anymail==1.0
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-webpack-loader==0.5.0
djangorestframework==3.6.4
docopt==0.6.2
gunicorn==19.7.1
ipython==6.2.0
ipython-genutils==0.2.0
jedi==0.10.2
kombu==4.1.0
mock==2.0.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
Pygments==2.2.0
python-env==1.0.0
python-http-client==3.0.0
pytz==2017.2
redis==2.10.6
requests==2.18.4
sendgrid==5.2.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
